body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#components-table-demo-drag-sorting tr.drop-over-downward td {
  border-bottom: 2px dashed #1890FF;
}
#components-table-demo-drag-sorting tr.drop-over-upward td {
  border-top: 2px dashed #DBC594;
}
.ant-table-column-sorters {
  display: inline-flex !important;
  align-items: left !important;
}
.page{
  row-gap: -1%;
  column-gap: 2;
  margin-top: 3%;
  margin-left: -20%;
}
.editbuton button{
  margin-left: -80%;
  height: 30px;
  width: 45px;
  
 }
 .globalsearchbutton button{
  margin-top: 10%;
  margin-left: 3%;
  height: 30px;
  width: 52px;
 }
 
 .savecancelbuton button{
  margin-left: -200%;
  height: 30px;
  width: 40px;
 }
 .savecancelbuton {
  width: -60%;
 }
.name button{
  height: 20px;
  width: 40px;
  margin-left: 20%;
}
 .name input{
  margin-top: 3%;
  height: 45px;
  padding-left: 12%;
  margin-left: -2%;
}
.editall title{
  margin-left: 20%;
}
.editall button{
  height: 20px;
  width: 10px;
}
Button{
  width: 50px;
}
.addbutton{
  margin-top: -6%;
  margin-left: 88%;
  height: 30px;
  width: 52px;
}







